html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', 'Noto Sans', sans-serif;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #2E2E2E;
}

div {
  display: table-cell;
  vertical-align: middle;
  padding-top: 1.5em;
  color: #848484;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 600;
  font-family: 'Fira Mono', 'Noto Mono', monospace;
}

.iconlink {
  display: inline-block;
  margin: 0 16px 0 0;
}

.textlink {
  color: #848484;
  margin-left: 3em;
  margin-right: 3em;
}

.blink {
    animation: blink 1s linear infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.fa-solid, .fa-brands, .fa-regular {
    color: #848484;
}
