html, body {
  padding: 0;
  font-family: 'Roboto Slab', 'Noto Sans', sans-serif;
  display: table;
  height: 100%;
  text-align: left;
  background: #EEEEEE;
  margin-left: 2em;
  margin-right: 2em;
  max-width: 100%;
  overflow-x: hidden;
}

.iconlink {
  display: inline-block;
  margin: 0 16px 0 0;
}

ul li {
  padding: 2px 0px;
}

a:link {
    color: darkslateblue;
}

a:visited {
    color: darkolivegreen
}

.fa-solid, .fa-brands, .fa-regular {
    color: grey;
  }
  