html, body {
  padding: 0;
  font-family: 'Roboto Slab', 'Noto Sans', sans-serif;
  text-align: left;
  background: #EEEEEE;
  margin: 2em;
  margin-top: 1em;
}

/* Size of clickable icons in the footer */
.iconlink {
  display: inline-block;
  margin: 16px 16px 0 0;
}

/* Margin of bullet points */
ul li { padding: 2px 0px; }

/* Colouring of clickable links */
a { color: #2F4F4F; }

/* Colouring of icons in the footer */
.fa-solid, .fa-brands { color: #848484; }

/* Reduce margin for small screens */
@media only screen and (max-width: 800px) {
  html, body {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
